@import "bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: Arial, sans-serif;
}
.social-media-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.social-media-links a {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s;
}

.social-media-links a:hover {
  color: #007bff;
}

/* Style carousel images */
.carousel-image-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* Style hero section images */
.hero-section {
  position: relative;
  background-color: rgb(129, 131, 197);
  color: #fff;
  padding: 120px;
  margin-top: 10px;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  filter: blur(8px);
  z-index: -1;
}
.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.hero-content .btn-primary {
  background-color: #01050a;
  border-color: #021b36;
  font-size: 1.25rem;
  padding: 12px 40px;
}

/* Style header section images */

.custom-header-dark {
  background-color: rgb(129, 131, 197);
  color: #fff;
}
.custom-header-dark .nav-link {
  color: black;
  font-weight: bold;
}
.custom-header-dark .nav-link:hover {
  color: #ffc107;
}
.custom-header-dark .navbar-nav {
  display: flex;
  justify-content: center;
}

/* Style why-choose section images */

.why-choose-us h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.why-choose-us i {
  color: #ff5100;
}

.why-choose-us h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.why-choose-us p {
  font-size: 1rem;
}
.why-choose-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #000;
}

/* Style How It Works section */
.step-circle {
  width: 50px;
  height: 50px;
  background-color: rgb(129, 131, 197);
  color: #fff;
  font-size: 1.5rem;
  line-height: 50px;
  border-radius: 50%;
  margin: 0 auto;
}

.how-it-works h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.how-it-works h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.how-it-works p {
  font-size: 1rem;
}

/* Style circular icon */
.circle-icon {
  width: 100px;
  height: 100px;
  background-color: rgb(129, 131, 197);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 15px;
}

/* Style product cards */
.product-card {
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}
